projects:
  - name: xquare-application
    applications:
      - name: xquare
        namespace: argocd
        source:
          path: deploy
          repoURL: https://github.com/team-xquare/xquare-gitops-repo.git
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
  - name: xquare-resources
    applications:
      - name: xquare-role
        namespace: argocd
        source:
          path: apps/xquare-role
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
      - name: istio-resource
        namespace: argocd
        source:
          path: apps/istio-resource
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: xquare-certificate
        namespace: argocd
        source:
          path: apps/xquare-certificate
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false 
            selfHeal: true
      - name: external-auth
        namespace: xquare-prod
        source:
          path: apps/external-auth
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: karpenter-provisioner
        namespace: karpenter
        source:
          path: apps/karpenter-provisioner
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: aws-node-termination-handler
        namespace: spot-handler
        source:
          path: apps/aws-node-termination-handler
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: dex
        namespace: dex
        source:
          path: apps/dex
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: dex-k8s-authenticator
        namespace: dex
        source:
          path: apps/dex-k8s-authenticator
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: kube-oidc-proxy
        namespace: dex
        source:
          path: apps/kube-oidc-proxy
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: kube-prometheus-stack
        namespace: monitoring
        source:
          path: apps/kube-prometheus-stack
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: thanos
        namespace: monitoring
        source:
          path: apps/thanos
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: loki-stack
        namespace: monitoring
        source:
          path: apps/loki-stack
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: descheduler
        namespace: kube-system
        source:
          path: apps/descheduler
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
      - name: infisical
        namespace: infisical
        source:
          path: apps/infisical
          repoURL: https://github.com/team-xquare/k8s-resource.git
        syncPolicy:
          automated:
            prune: false
            selfHeal: true
