keycloak:
  postgresql:
    enabled: false
  externalDatabase:
    host: "mysql.xquare.app"
    port: 3306
    user: keycloak-user
    existingSecret: "keycloak-secret"
    existingSecretUserKey: "db-user"
    existingSecretPasswordKey: "db-password"
  extraEnv: |
    - name: KEYCLOAK_USER
      value: user
    - name: KEYCLOAK_PASSWORD
      value: pass
    - name: DB_USER
      valueFrom:
        secretKeyRef:
          name: keycloak-secret
          key: db-username
    - name: DB_PASSWORD
      valueFrom:
        secretKeyRef:
          name: keycloak-secret
          key: db-password
    - name: DB_VENDOR
      value: mysql
    - name: DB_ADDR
      value: "mysql.xquare.app"
    - name: DB_PORT
      value: "3306"
    - name: DB_DATABASE
      value: keycloak
    - name: KEYCLOAK_FRONTEND_URL
      value: "https://keycloak.xquare.app/auth"
    - name: KC_PROXY
      value: "edge"
    - name: PROXY_ADDRESS_FORWARDING
      value: "true"