loki:
  isDefault: true
  url: http://loki-gateway
  readinessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 45
  livenessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 45
  serviceAccount:
    create: true
    name: xquare-loki
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::471407337433:role/loki_s3_role 
      eks.amazonaws.com/sts-regional-endpoints: "true"
  monitoring:
    selfMonitoring:
      grafanaAgent:
        installOperator: false    
    lokiCanary:
      enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 16Mi
  gateway:
    replicas: 3
    enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 16Mi
  backend:
    replicas: 3
    persistence:
      enabled: false
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
  write:
    replicas: 3
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
  read:
    replicas: 3
    persistence:
      enabled: false
    resources:
      requests:
        cpu: 10m
        memory: 16Mi
  memberlist:
    service:
      publishNotReadyAddresses: true
  loki:
    auth_enabled: false
    query_range:
      split_queries_by_interval: 168h
    frontend:
      max_outstanding_per_tenant: 1024
    storage:
      bucketNames:
        chunks: xquare-loki-bucket
        ruler: xquare-loki-bucket
        admin: xquare-loki-bucket
      type: s3
      s3:
        s3: s3://ap-northeast-2/xquare-loki-bucket
        region: ap-northeast-2
    common:
      storage:
        s3:
          s3: s3://ap-northeast-2/xquare-loki-bucket
          bucketnames: xquare-loki-bucket
          region: ap-northeast-2
    storage_config:
      boltdb_shipper:
        active_index_directory: /var/loki/active
        shared_store: s3
        cache_location: /var/loki/cache
        cache_ttl: 168h
    schema_config:
      configs:
        - object_store: s3
          index:
            period: 168h
          chunks:
            period: 24h
    limits_config:
      retention_period: 7d
    compactor:
        apply_retention_interval: 1h
        compaction_interval: 5m
        retention_delete_worker_count: 500
        retention_enabled: true
        shared_store: s3
        working_directory: /var/loki/compactor

promtail:
  config:
    logLevel: info
    serverPort: 3101
    clients:
      - url: http://loki-gateway/loki/api/v1/push
  snippets:
    scrapeConfigs: |
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels:
              - __meta_kubernetes_pod_controller_name
            regex: ([0-9a-z-.]+?)(-[0-9a-f]{8,10})?
            action: replace
            target_label: __tmp_controller_name
          - source_labels:
              - __meta_kubernetes_pod_label_app_kubernetes_io_name
              - __meta_kubernetes_pod_label_app
              - __tmp_controller_name
              - __meta_kubernetes_pod_name
            regex: ^;*([^;]+)(;.*)?$
            action: replace
            target_label: app
          - source_labels:
              - __meta_kubernetes_pod_label_app_kubernetes_io_instance
              - __meta_kubernetes_pod_label_release
            regex: ^;*([^;]+)(;.*)?$
            action: replace
            target_label: instance
          - source_labels:
              - __meta_kubernetes_pod_label_app_kubernetes_io_component
              - __meta_kubernetes_pod_label_component
            regex: ^;*([^;]+)(;.*)?$
            action: replace
            target_label: component
          - replacement: kubernetes-pods
            target_label: scrape_job
          - source_labels: [__meta_kubernetes_namespace]
            action: keep
            regex: xquare-prod|xquare-stag|spot-handler
  nodeSelector:
    Karpenter: enabled
  tolerations:
  - effect: "NoSchedule"
    key: karpenter
    operator: "Equal"
    value: "true"